body{
	background: url("../images/holi1.jpg") no-repeat fixed center center;
	background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.register {
    width: 213px;
    height: 36px;
    margin: 30px auto;
}

.register-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    margin: 0 auto;
}

.register-block h1 {
    text-align: center;
    color: #ff6699;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-style: normal; 
}

.register-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    padding-right: 50px;
    outline: none;
}

.register-block input:active, .register-block input:focus {
    border: 1px solid #4d94ff;
}

.register-block button#register{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background: #ff3377;
    box-sizing: border-box;
    border: 1px solid #ff0055;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    cursor: pointer;
    margin-bottom: 5px;
}


.register-block button#cancel{
    width: 100%;
    height: 40px;
    background: #4d94ff;
    box-sizing: border-box;
    border: 1px solid #008ae6;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    cursor: pointer;
}


.register-block button:hover {
    background: #005ce6;
}


