body{
	background: url("../images/holi4.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Montserrat;
}

.options{
    background-color: yellow;
    padding: 50px 0 50px 0px;
}

.side-bars{
    background-color: red;
}
